@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$black: #111;
$white-light: whitesmoke;
$border: .1rem solid gray;


* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    padding: 3rem 8%;
}

@mixin flex($center) {
    display: flex;
    flex-wrap: wrap;
    align-items: $center;
    gap: 2.5rem;
}



// common styles end 

header {
    background: black;
    padding: 2rem 10%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

        .header-top {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

        .search-container {
            background:gray;
            padding: 1rem 2rem;
            border-radius: .5rem;

            input {
                background: none;

                &::placeholder {
                    color: $white-light;
                    font-size: 1.5rem;
                }
            }

            label {
                color: $white-light;
                font-size:1.7rem;
            }
        }

        .offer {
            color: white;
            font-size: 2rem;
            text-decoration: underline;
            text-decoration-color: green;
            text-underline-offset: .5rem;
        }
    }   
    nav {
        text-align: center;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .slide-btn {
            color:white;
            font-size: 2rem;
            margin-right:3rem;
            cursor: pointer;
        }
    }

}

// home section start 
.home {
    background: url(../img/home.jpg) no-repeat center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);
    overflow: hidden;

     .slider-wrapper {
        width: 500vw;
        display: flex;
        flex-wrap: wrap;
        transition: all .7s linear;

        .slide {
            width: 100vw;
            position: relative;
            padding-top: 2rem;

            .image {
                max-width:70rem;
                max-height: 70rem;
                border-radius: 50%;
                background-color: #369e62;
                margin-left:15%; 

                &.purple {
                    background: rebeccapurple;
                }

                &.teal {
                    background: teal;
                }

                &.flower {
                    background: cornflowerblue;
                }

                &.chocolate {
                    background: chocolate;
                }

                img {
                    max-height: 70rem;
                }
            }

            span {
                color: white;
                font-size: 3.5rem;
                padding: 0.5rem 1rem;
                border: .1rem solid gray;
                position: absolute;
                top: 5rem;
                left:8%;
            }

            h2 {
                color: white;
                font-size: 4rem;
                position: absolute;
                right: 20%;
                bottom: 55%;
            }

            .btn {
                background: black;
                padding: 1rem 3rem;
                color: white;
                font-size: 2rem;
                position: absolute;
                right: 22%;
                bottom: 45%;
            }

        }
    } 
} 

// services section start

.service {
    .box-container {
        @include flex(center);

        .box {
            flex: 1 1 25rem;
            text-align: center;
            padding: 2rem;

            img {
                height: 10rem;
            }

            h3 {
                font-size: 2.5rem;
                margin: 1.5rem 0;
            }

            p {
                font-size: 1.7rem;
                color: gray;
                line-height: 3rem;
            }
        }
    }
}

 
// product section start 

.product {
    background: $white-light;
    clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);

    .product-container {
        @include flex(center);

        .image {
            flex: 1 1 40rem;

            img {
                width: 100%;
            }
        }

        .product-details {
            flex: 1 1 40rem;

            h2 {
                font-size: 5rem;
                margin-bottom: 1rem;
            }

            span {
                font-size:3rem;
            }

            p {
                font-size: 1.7rem;
                columns: gray;
                line-height: 3rem;
                margin-top: 1rem;
            }

            .product-colors {
                @include flex(center);
                gap: 1rem;
                margin: 2rem 0;

                .product-color {
                    width: 3rem;
                    height: 3rem;
                    border-radius: .5rem;
                    background: black;
                    cursor: pointer;

                    &:last-child {
                        background: purple;
                    }
                }

            }
            
            .product-sizes {
                @include flex(center);
                gap: 1rem;
                margin-top: 1.5rem;
                .product-size {
                    border: .1rem solid black;
                    font-size: 2rem;
                    padding: .5rem 1rem;
                    cursor: pointer;
                    
                    &.active {
                        background: black;
                        color: white;
                    }
                }
            }
            
            .btn {
                float:right;
                padding:1rem 2rem;
                margin-top: 3rem;
                background: black;
                color: white;
                font-size: 1.7rem;
                cursor: pointer;
            }
        }
    }
}

// buy section 
.buy-container {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0, 0, .8);
    display: none;

    &.active {
        display: flex;
    }

    form {
        max-width: 60rem;
        padding: 2rem;
        background-color: white;
        margin-top: 10rem;

        #close {
            float: right;
            font-size: 2rem;
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            text-align: center;
            background: gray;            
            cursor: pointer;
        }

        h3 {
            font-size: 2rem;
            color: gray;
            margin-bottom: 1rem;
        }

        label {
            font-size:1.7rem;
        }

        .box {
            width: 100%;
            margin: 1rem 0;
            text-transform: none;
            border-bottom: .1rem solid gray;
            padding: 1rem;

            &:focus {
                border: .1rem solid gray;
            }
        }

        .img-container {
            @include flex(center);
            gap: 1rem;

            img {
                height: 8rem;
            }
        }

        .card-container {
            @include flex(center);
            justify-content: space-between;
            margin-top: 1rem;

            .card-box {
                border-bottom: .1rem solid gray;                
                padding: 0 1rem;
                padding-bottom: 1rem;
            }
        }

        .btn {
            width: 100%;
            background: #369e62;
            padding: 1rem;;
            color: white;
            font-size: 1.7rem;
            margin-top:2rem;
        }
    }
}


// gallary section 

.gallary {
    .box-container {
        @include flex(center);

        .box {
            flex:1 1 35rem;
            padding: 3rem;

            img {
                height: 50rem;
                width: 100%;
            }

            h3 {
                font-size:3rem;
                margin-bottom: 1.5rem;

                &:nth-child(2) {
                    margin-bottom: 0;
                    margin-top: 1.5rem;
                }
            }
        }
    }
}

// new season 

.new-season {
    padding: 3rem 0;
    .box-container {
        @include flex(initial);
        gap: 0;

        .box {
            flex:1;
            text-align: center;
            height: 50rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:nth-child(2) {
                background: black;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            p {
                color: white;
                font-size: 2rem;
            }

            h3 {
                font-size: 3rem;
                color: white;
                margin: 1rem 0;
            }

            h2 {
                font-size: 4rem;
                color: white;
                margin-bottom: 1.5rem;
            }

            .btn {
                display: inline-block;
                padding: 1rem 3rem;
                background: white;
                color: black;
                font-size: 1.7rem;
            }
        }
    }
}

// footer 
footer {
    padding: 3rem 8%;

    .box-container {
        @include flex(center);

        .box {
            flex: 1 1 30rem;

            h3 {
                font-size: 2rem;
                margin-bottom: 1.5rem;
            }

            a {
                font-size: 1.7rem;
                color: gray;
                margin: 1rem 0;
                display: block;
            }
            
            form {
                margin-bottom:2rem;    

                .email {
                    padding: .5rem 1rem;
                    border:.1rem solid black;
                    text-transform: none;
                }

                .btn {
                    background: black;
                    color: white;
                    padding: .5rem;
                    border: .1rem solid black;
                }
            }

            .icons {
                i {
                    font-size: 1.7rem;
                    color: black;
                }

                p {
                    font-size: 1.7rem;
                    color: gray;
                }
            }
        }
    }
}




// media quearies 

@media (max-width:1200px) {
    header {
        padding: 2rem 5%;
    }

    section {
        padding: 3rem 5%;
    }

    footer {
        padding: 3rem 5%;
    }
}
@media (max-width:991px) {
    html {
        font-size: 55%;
    }
}
@media (max-width:768px) {
    header {
        padding: 2rem;
    }

    section {
        padding: 3rem 2rem;
    }

    footer {
        padding: 3rem 2rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    header .header-top {
        .search-container {
            display: none;
        }
    }

    .new-season {
        .box-container {
            .box {
                flex:1 1 35rem;
            }
        }
    }
}
