@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 8%;
}

header {
  background: black;
  padding: 2rem 10%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-top .search-container {
  background: gray;
  padding: 1rem 2rem;
  border-radius: .5rem;
}

header .header-top .search-container input {
  background: none;
}

header .header-top .search-container input::-webkit-input-placeholder {
  color: whitesmoke;
  font-size: 1.5rem;
}

header .header-top .search-container input:-ms-input-placeholder {
  color: whitesmoke;
  font-size: 1.5rem;
}

header .header-top .search-container input::-ms-input-placeholder {
  color: whitesmoke;
  font-size: 1.5rem;
}

header .header-top .search-container input::placeholder {
  color: whitesmoke;
  font-size: 1.5rem;
}

header .header-top .search-container label {
  color: whitesmoke;
  font-size: 1.7rem;
}

header .header-top .offer {
  color: white;
  font-size: 2rem;
  text-decoration: underline;
  -webkit-text-decoration-color: green;
          text-decoration-color: green;
  text-underline-offset: .5rem;
}

header nav {
  text-align: center;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .slide-btn {
  color: white;
  font-size: 2rem;
  margin-right: 3rem;
  cursor: pointer;
}

.home {
  background: url(../img/home.jpg) no-repeat center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);
  overflow: hidden;
}

.home .slider-wrapper {
  width: 500vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all .7s linear;
  transition: all .7s linear;
}

.home .slider-wrapper .slide {
  width: 100vw;
  position: relative;
  padding-top: 2rem;
}

.home .slider-wrapper .slide .image {
  max-width: 70rem;
  max-height: 70rem;
  border-radius: 50%;
  background-color: #369e62;
  margin-left: 15%;
}

.home .slider-wrapper .slide .image.purple {
  background: rebeccapurple;
}

.home .slider-wrapper .slide .image.teal {
  background: teal;
}

.home .slider-wrapper .slide .image.flower {
  background: cornflowerblue;
}

.home .slider-wrapper .slide .image.chocolate {
  background: chocolate;
}

.home .slider-wrapper .slide .image img {
  max-height: 70rem;
}

.home .slider-wrapper .slide span {
  color: white;
  font-size: 3.5rem;
  padding: 0.5rem 1rem;
  border: .1rem solid gray;
  position: absolute;
  top: 5rem;
  left: 8%;
}

.home .slider-wrapper .slide h2 {
  color: white;
  font-size: 4rem;
  position: absolute;
  right: 20%;
  bottom: 55%;
}

.home .slider-wrapper .slide .btn {
  background: black;
  padding: 1rem 3rem;
  color: white;
  font-size: 2rem;
  position: absolute;
  right: 22%;
  bottom: 45%;
}

.service .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.service .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  text-align: center;
  padding: 2rem;
}

.service .box-container .box img {
  height: 10rem;
}

.service .box-container .box h3 {
  font-size: 2.5rem;
  margin: 1.5rem 0;
}

.service .box-container .box p {
  font-size: 1.7rem;
  color: gray;
  line-height: 3rem;
}

.product {
  background: whitesmoke;
  -webkit-clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
}

.product .product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.product .product-container .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.product .product-container .image img {
  width: 100%;
}

.product .product-container .product-details {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.product .product-container .product-details h2 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.product .product-container .product-details span {
  font-size: 3rem;
}

.product .product-container .product-details p {
  font-size: 1.7rem;
  -webkit-columns: gray;
          columns: gray;
  line-height: 3rem;
  margin-top: 1rem;
}

.product .product-container .product-details .product-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  gap: 1rem;
  margin: 2rem 0;
}

.product .product-container .product-details .product-colors .product-color {
  width: 3rem;
  height: 3rem;
  border-radius: .5rem;
  background: black;
  cursor: pointer;
}

.product .product-container .product-details .product-colors .product-color:last-child {
  background: purple;
}

.product .product-container .product-details .product-sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  gap: 1rem;
  margin-top: 1.5rem;
}

.product .product-container .product-details .product-sizes .product-size {
  border: .1rem solid black;
  font-size: 2rem;
  padding: .5rem 1rem;
  cursor: pointer;
}

.product .product-container .product-details .product-sizes .product-size.active {
  background: black;
  color: white;
}

.product .product-container .product-details .btn {
  float: right;
  padding: 1rem 2rem;
  margin-top: 3rem;
  background: black;
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
}

.buy-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.buy-container.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buy-container form {
  max-width: 60rem;
  padding: 2rem;
  background-color: white;
  margin-top: 10rem;
}

.buy-container form #close {
  float: right;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background: gray;
  cursor: pointer;
}

.buy-container form h3 {
  font-size: 2rem;
  color: gray;
  margin-bottom: 1rem;
}

.buy-container form label {
  font-size: 1.7rem;
}

.buy-container form .box {
  width: 100%;
  margin: 1rem 0;
  text-transform: none;
  border-bottom: .1rem solid gray;
  padding: 1rem;
}

.buy-container form .box:focus {
  border: .1rem solid gray;
}

.buy-container form .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  gap: 1rem;
}

.buy-container form .img-container img {
  height: 8rem;
}

.buy-container form .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.buy-container form .card-container .card-box {
  border-bottom: .1rem solid gray;
  padding: 0 1rem;
  padding-bottom: 1rem;
}

.buy-container form .btn {
  width: 100%;
  background: #369e62;
  padding: 1rem;
  color: white;
  font-size: 1.7rem;
  margin-top: 2rem;
}

.gallary .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.gallary .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35rem;
          flex: 1 1 35rem;
  padding: 3rem;
}

.gallary .box-container .box img {
  height: 50rem;
  width: 100%;
}

.gallary .box-container .box h3 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.gallary .box-container .box h3:nth-child(2) {
  margin-bottom: 0;
  margin-top: 1.5rem;
}

.new-season {
  padding: 3rem 0;
}

.new-season .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  gap: 2.5rem;
  gap: 0;
}

.new-season .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new-season .box-container .box:nth-child(2) {
  background: black;
}

.new-season .box-container .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.new-season .box-container .box p {
  color: white;
  font-size: 2rem;
}

.new-season .box-container .box h3 {
  font-size: 3rem;
  color: white;
  margin: 1rem 0;
}

.new-season .box-container .box h2 {
  font-size: 4rem;
  color: white;
  margin-bottom: 1.5rem;
}

.new-season .box-container .box .btn {
  display: inline-block;
  padding: 1rem 3rem;
  background: white;
  color: black;
  font-size: 1.7rem;
}

footer {
  padding: 3rem 8%;
}

footer .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

footer .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

footer .box-container .box h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

footer .box-container .box a {
  font-size: 1.7rem;
  color: gray;
  margin: 1rem 0;
  display: block;
}

footer .box-container .box form {
  margin-bottom: 2rem;
}

footer .box-container .box form .email {
  padding: .5rem 1rem;
  border: .1rem solid black;
  text-transform: none;
}

footer .box-container .box form .btn {
  background: black;
  color: white;
  padding: .5rem;
  border: .1rem solid black;
}

footer .box-container .box .icons i {
  font-size: 1.7rem;
  color: black;
}

footer .box-container .box .icons p {
  font-size: 1.7rem;
  color: gray;
}

@media (max-width: 1200px) {
  header {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
  footer {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  footer {
    padding: 3rem 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  header .header-top .search-container {
    display: none;
  }
  .new-season .box-container .box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 35rem;
            flex: 1 1 35rem;
  }
}
/*# sourceMappingURL=style.css.map */